* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1321px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}


/* Top banner section styles */
.top-banner-section .background-color {
    background-color: #1e1e1e;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 120px;
}

.top-banner-section .container {
    margin-bottom: 120px;
}

.top-banner-section .main-column {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.top-banner-section .main-column .left-column {
    width: 48%;
    margin-right: 2%;
}

.top-banner-section .banner-caption {
    max-width: 531px;
}

.top-banner-section .left-column h1 {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    padding-top: 95px;
}

.top-banner-section .left-column p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 50px;
}

.top-banner-section .common-button {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background-color: #dd0000;
    padding: 16px 25px 16px 25px;
    border-radius: 7px;
    transition: .3s;
}

.top-banner-section .icon {
    padding-left: 10px;
}

.top-banner-section .common-button:active {
    background-color: aliceblue;
    color: #000;
}

.top-banner-section .main-column .right-column {
    width: 50%;
}

.top-banner-section .right-column img {
    width: 100%;
    height: 613px;
    padding-top: 33px;
}

/* blog section style */

.blog-section .main-column {
    display: flex;
    flex-wrap: wrap;
}

.blog-section .left-column {
    width: 23.5%;
    margin-right: 1.5%;
}

.blog-section .right-column {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 2.5%;
}

.blog-section .buttons {
    background-color: #1e1e1e;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.blog-section .button {
    max-width: 252px;
    margin: 0 auto;
}

.blog-section .button a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    transition: .5s;
}

.blog-section .button a:hover {
    background-color: #dd0000;

}

.blog-section .button .btn-2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-section .blogs-item {
    box-shadow: 0px 0px 3px 0px;
    border-radius: 10px;
}

.blog-section .right-column .blogs-item img {
    width: 314px;
    height: 175px;
    padding-bottom: 20px;
}

.blog-section .right-column .blog-info {
    max-width: 272px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.blog-section .blog-info .common-button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    border: 2px solid #000;
    padding: 4px 20px;
    border-radius: 6px;
}

.blog-section .blog-info h3 {
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 30px;
}

.blog-section .fa-solid {
    color: #454545;
}

.blog-section .icon-1,
.icon-2 {
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 30px;
    color: #5c5c5c;
}

.blog-section .container {
    padding-bottom: 120px;
}

.view-button {
    display: none;
}

/* footer section start now */

.footer-section {
    background-color: #1e1e1e;
}

.footer-section .row-1 h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
    border-bottom: 2px solid #2d2d2d;
}

.footer-section .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-section .row-2 ul {
    list-style: none;
    display: block;
}

.footer-section .row-2 ul li {
    text-align: center;
    margin-top: 35px;
}

.footer-section .row-2 ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #B9B9B9;
    padding-right: 50px;
}

/* match shedeul page style */

.right-column .flags {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 0;
}

.right-column .blogs-item .flags img {
    width: 92px;
    height: 56px;
}

.right-column .blogs-item span {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
}

.right-column .blogs-item .blog-info {
    padding-bottom: 40px;
}

.right-column .blogs-item .blog-info .title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 0
}

.right-column .flexbox {
    padding-bottom: 30px;
}

.match-shedeul .right-column .flag-1 {
    padding-left: 25px;
}

.match-shedeul .right-column .flag-2 {
    padding-right: 25px;
}
.match-shedeul .blog-info .blog-caption{
    text-align: center;
}

/* responsiv display start now */

@media only screen and (max-width:688px) {
    .container {
        max-width: 334px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }

    /* top banner section */

    .top-banner-section .container {
        margin-bottom: -120px;
    }

    .top-banner-section .main-column {
        max-width: 258px;
        margin: 0 auto;
        flex-direction: column;
    }

    .top-banner-section .banner-caption {
        max-width: 228px;
        margin: 0 auto;
    }

    .top-banner-section .main-column .left-column {
        width: 100%;
    }

    .top-banner-section .left-column h1 {
        font-size: 22px;
        text-align: center;
        padding-top: 35px;
        padding-bottom: 15px;
    }

    .top-banner-section .left-column p {
        font-size: 14px;
        text-align: center;
        padding-bottom: 28px;
    }

    .top-banner-section .left-column p span {
        display: none;
    }

    .top-banner-section .common-button {
        padding: 8px 12px;
        margin-left: 38px;
    }

    .top-banner-section .main-column .right-column {
        width: 100%;
    }

    .top-banner-section .right-column img {
        height: 233px;
        height: 245px;
    }

    /* blog sectio */

    .blog-section .main-column {
        flex-direction: column;
    }

    .blog-section .left-column {
        width: 100%;
    }

    .blog-section .buttons {
        background-color: #fff;
    }

    .blog-section .button a {
        font-size: 20px;
        box-shadow: 0px 0px 2px 1px;
        font-weight: 500;
    }

    .blog-section .button .btn-2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .blog-section .right-column {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .blog-section .right-column .blogs-item img {
        width: 100%;
    }

    .blog-section .container {
        padding-bottom: 30px;
    }

    /* footer section responsive style */
    .footer-section .row-1 h1 {
        font-size: 22px;
        font-weight: 600;
    }

    .footer-section ul li {
        display: flex;
        flex-direction: column;
    }

    .footer-section .row-2 ul li a {
        padding-right: 0;
        padding-bottom: 40px;
      }
      .footer-section .row-2 ul li a:last-child{
        padding-bottom: 0px;
      }
      .footer-section .container {
        padding-top: 35px;
        padding-bottom: 35px;
      }
}





@media only screen and (min-width:689px) and (max-width:992px) {
    .container {
        max-width: 734px;
        padding-left: 35px;
        padding-right: 35px;
        margin: 0 auto;
    }

    /* top banner section */

    .top-banner-section .container {
        margin-bottom: -75px;
    }

    .top-banner-section .main-column {
        max-width: 640px;
        margin: 0 auto;
    }

    .top-banner-section .banner-caption {
        max-width: 290px;
    }

    .top-banner-section .left-column h1 {
        font-size: 40px;
        padding-bottom: 10px;
        padding-top: 60px;
    }

    .top-banner-section .left-column p {
        font-size: 14px;
        padding-bottom: 30px;
    }

    .top-banner-section .left-column p span {
        display: none;
    }

    .top-banner-section .common-button {
        padding: 12px;
    }

    .top-banner-section .right-column img {
        height: 360px;
        padding-top: 60px;
    }

    /* blog section */

    .blog-section .main-column {
        flex-direction: column;
    }

    .blog-section .left-column {
        width: 100%;
    }

    .blog-section .buttons {
        background-color: #fff;
        padding-bottom: 35px;
    }

    .blog-section .button {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        grid-column-gap: 25px;
    }

    .blog-section .button a {
        box-shadow: 0px 0px 2px 1px;
        font-weight: 600;
    }

    .blog-section .button .btn-2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .blog-section .right-column {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .blog-section .right-column .blogs-item img {
        width: 100%;
    }

    .blog-section .blogs-item:last-child {
        display: none;
    }

    .view-button {
        display: block;
        margin-top: 15px;
        margin-left: 300px;
    }

    .view-button a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        background: #dd0000;
        color: #fff;
        text-align: center;
        padding: 8px 25px;
        border-radius: 7px;
    }

    .view-button a:active {
        background-color: blue;
    }

    .blog-section .container {
        padding-bottom: 85px;
    }

    .blog-section .match-shedeul .blogs-item:last-child {
        display: block;
    }

    /* .footer-section style */
    .footer-section .row-1 h1 {
        font-size: 40px;
        font-weight: 600;
    }
}